version: 2.1
jobs:
  build-x86_64:
    machine:
      image: ubuntu-2204:current
    resource_class: medium
    environment:
      - DOCKER_REPO: benz0li/ghc-musl:9.6.6
      - GHC_OPTIONS: --ghc-options -split-sections --ghc-options -O --ghc-options -optc-Os
    steps:
      - checkout
      - run:
          name: Prepare environment
          command: |
            docker pull "$DOCKER_REPO"
            docker run --name stack-docker "$DOCKER_REPO" apk add --no-cache libcap-dev
            docker cp stack-docker:/usr/local/bin/stack .
            docker commit stack-docker stack-builder
            docker rm stack-docker
            grep -F resolver stack.yaml | tee .stackage-resolver
      - restore_cache:
          name: Restore Cached Dependencies
          key: cci-hprox-x86_64-{{ checksum ".stackage-resolver" }}
      - run:
          name: Build
          command: |
            ./stack \
                --no-terminal --no-interleaved-output --system-ghc --no-install-ghc \
                --docker --docker-repo stack-builder:latest --docker-stack-exe image --no-docker-auto-pull \
                install --flag hprox:static --flag hprox:quic $GHC_OPTIONS
      - run:
          name: Package executable
          command: |
            mkdir ~/release
            tar czvf "$HOME/release/hprox-$(git describe --tags | sed 's/^v//;s/-\([^-]*-g\)/-r\1/')-linux-x86_64-static.tar.gz" \
                -C .stack-work/docker/_home/.local/bin hprox
      - store_artifacts:
          path: ~/release
          destination: release
      - run:
          name: Cleanup
          command: |
            rm -rf ~/.stack/pantry/hackage
      - save_cache:
          name: Cache Dependencies
          key: cci-hprox-x86_64-{{ checksum ".stackage-resolver" }}
          paths:
            - ~/.stack
  build-aarch64:
    machine:
      image: ubuntu-2204:current
    resource_class: arm.medium
    environment:
      - DOCKER_REPO: benz0li/ghc-musl:9.6.6
      - GHC_OPTIONS: --ghc-options -split-sections --ghc-options -O --ghc-options -optc-Os
    steps:
      - checkout
      - run:
          name: Prepare environment
          command: |
            docker pull "$DOCKER_REPO"
            docker run --name stack-docker "$DOCKER_REPO" apk add --no-cache libcap-dev
            docker cp stack-docker:/usr/local/bin/stack .
            docker commit stack-docker stack-builder
            docker rm stack-docker
            grep -F resolver stack.yaml | tee .stackage-resolver
      - restore_cache:
          name: Restore Cached Dependencies
          key: cci-hprox-aarch64-{{ checksum ".stackage-resolver" }}
      - run:
          name: Build
          command: |
            ./stack \
                --no-terminal --no-interleaved-output --system-ghc --no-install-ghc \
                --docker --docker-repo stack-builder:latest --docker-stack-exe image --no-docker-auto-pull \
                install --flag hprox:static --flag hprox:quic $GHC_OPTIONS
      - run:
          name: Package executable
          command: |
            mkdir ~/release
            tar czvf "$HOME/release/hprox-$(git describe --tags | sed 's/^v//;s/-\([^-]*-g\)/-r\1/')-linux-aarch64-static.tar.gz" \
                -C .stack-work/docker/_home/.local/bin hprox
      - store_artifacts:
          path: ~/release
          destination: release
      - run:
          name: Cleanup
          command: |
            rm -rf ~/.stack/pantry/hackage
      - save_cache:
          name: Cache Dependencies
          key: cci-hprox-aarch64-{{ checksum ".stackage-resolver" }}
          paths:
            - ~/.stack
  build-windows:
    machine:
      image: windows-server-2022-gui:current
      shell: bash.exe
    resource_class: windows.medium
    environment:
      - STACK_VER: 3.1.1
      - GHC_OPTIONS: --ghc-options -split-sections --ghc-options -O --ghc-options -optc-Os
    steps:
      - checkout
      - run:
          name: Generate .stackage-resolver
          command: |
            grep -F resolver stack.yaml | tee .stackage-resolver
      - restore_cache:
          name: Restore Cached Dependencies
          key: cci-hprox-windows-{{ checksum ".stackage-resolver" }}
      - run:
          name: Prepare environment
          command: |
            export STACK_BIN_URL="https://github.com/commercialhaskell/stack/releases/download/v${STACK_VER}/stack-${STACK_VER}-windows-x86_64.zip"
            curl -o ./stack.zip -L "$STACK_BIN_URL"
            7z x stack.zip stack.exe
            rm -f stack.zip
            ./stack.exe --skip-msys --ghc-variant int-native \
                setup
      - run:
          name: Build
          command: |
            ./stack.exe --skip-msys --ghc-variant int-native \
                --no-terminal --no-interleaved-output \
                install --flag hprox:static --flag hprox:quic $GHC_OPTIONS
      - run:
          name: Package executable
          command: |
            mkdir ~/release
            7z a -tzip "$HOME/release/hprox-$(git describe --tags | sed 's/^v//;s/-\([^-]*-g\)/-r\1/')-windows-x86_64.zip" \
                "$HOME/AppData/Roaming/local/bin/hprox.exe"
      - store_artifacts:
          path: ~/release
          destination: release
      - run:
          name: Cleanup
          command: |
            rm -rf ~/AppData/Roaming/stack/pantry/hackage ~/AppData/Roaming/stack/programs
      - save_cache:
          name: Cache Dependencies
          key: cci-hprox-windows-{{ checksum ".stackage-resolver" }}
          paths:
            - ~/AppData/Roaming/stack
workflows:
  build:
    jobs:
      - build-x86_64
      - build-aarch64
      - build-windows
