version: 2.1
jobs:
  build:
    docker:
      - image: bjin/stack-docker:8.10.1
    steps:
      - checkout
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - cci-hprox-v4-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
            - cci-hprox-v4-{{ checksum "stack.yaml" }}
      - run:
          name: Workaround for OOM (build http-reverse-proxy first)
          command: stack build http-reverse-proxy --flag hprox:static
      - run:
          name: Install executable
          command: stack install --flag hprox:static
      - run:
          name: Package executable
          command: mkdir ~/release && tar czvf ~/release/hprox-$(stack query locals hprox version)-$(git rev-parse --short HEAD)-linux-x86_64-static.tar.gz -C ~/.local/bin hprox
      - store_artifacts:
          path: ~/release
          destination: release
      - save_cache:
          name: Cache Dependencies
          key: cci-hprox-v4-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - ~/.stack
            - .stack-work
